*{
  margin: 0px;
  padding: 0px;  
}

.menu-container{
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: black;
  padding: 10px;
}

.menu-item{
  display: flex;
}

.menu-item li{
  list-style: none;
  margin: 10px;
  padding: 15;
  font-size: 15px;
}

.menu-item li:hover{
  color: blue;
  cursor: pointer;
}

.banner-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  
}

.banner-description{
  padding-left: 50px;
}

.banner-text{
  color: red;
  font-size: 25px;
  margin: 10px;
}

.title1{
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
}

.text{
  font-size: 20px;
  margin: 10px;
}

.banner-btn{
  padding: 15px 30px;
  background-color: rgba(255, 42, 14, 0.936);
  margin: 10px;
  font-size: 15px;
  color: white;
}

.title2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 80px
}

.section-two{
  margin-top: 80px;
  padding: 50px;
  display: flex;
  justify-content: space-evenly
}
.card1{
  width: 350px;
  height: 250px;
  border: 1px solid gray;
  text-align: center;
  box-shadow: 8px 8px 16px gray;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
  transition: .8ms;
}

.card1:hover{
  border: 1px solid gray;
  margin-top:-20px;
  transition:.8ms; 
}

.gym-icon{
  width: 50px;
}

.about-container{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin-top: 50px;
}

.about-left{
  width:500px;
  
}

.about-center{
  width:500px;
  
}

.about-description{
  margin-top: 80px;
  padding: 20px;
}

.about-right{
  width:500px;

}
.workout-img{
  display: flex;
  margin-top: 20px;
}

.workout-img img{
  width: 400px;
  height: 450px;
  
}
.btn-txt{
  text-decoration: none;
  color: white;
}


.workout-container{
  width: 500px;
  height: 200px;
  background-position:center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1776%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1777)'%3e%3c/rect%3e%3cpath d='M778.8177181083392 345.3256224973497L876.2534035939094 347.02636871382566 877.9541498103854 249.5906832282555 780.5184643248152 247.88993701177952z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M698.1 11.62 a96.87 96.87 0 1 0 193.74 0 a96.87 96.87 0 1 0 -193.74 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1418.309%2c686.555C1464.253%2c687.761%2c1503.102%2c654.742%2c1524.635%2c614.138C1544.805%2c576.104%2c1540.97%2c531.621%2c1520.58%2c493.705C1498.889%2c453.371%2c1464.104%2c416.076%2c1418.309%2c416.426C1372.932%2c416.772%2c1339.152%2c454.734%2c1318.708%2c495.246C1300.426%2c531.474%2c1302.492%2c572.806%2c1321.231%2c608.799C1341.752%2c648.214%2c1373.887%2c685.389%2c1418.309%2c686.555' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M963.83 161.78 a113.55 113.55 0 1 0 227.1 0 a113.55 113.55 0 1 0 -227.1 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M590.8307721223374 273.49790778176737L728.1705407529906 239.2552575581421 693.9278905293653 101.91548892748887 556.5881218987121 136.15813915111417z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1091.9294454351625 156.30694796055067L950.3472723604941 231.58752473947976 1025.6278491394232 373.1696978141482 1167.2100222140916 297.8891210352191z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M189.51 531.64 a157.35 157.35 0 1 0 314.7 0 a157.35 157.35 0 1 0 -314.7 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1118.083586334408 287.36782386734666L1045.3775392346063 342.1557601263668 1172.8715225934282 360.07387096714837z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M135.11%2c546.284C173.093%2c547.449%2c205.278%2c519.089%2c222.035%2c484.982C236.987%2c454.549%2c229.493%2c419.436%2c211.573%2c390.65C194.793%2c363.696%2c166.83%2c346.763%2c135.11%2c345.353C100.509%2c343.815%2c63.29%2c353.338%2c45.895%2c383.288C28.443%2c413.337%2c40.269%2c449.437%2c56.953%2c479.919C74.54%2c512.052%2c98.496%2c545.161%2c135.11%2c546.284' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1477.181%2c485.497C1528.918%2c485.583%2c1582.915%2c470.883%2c1609.408%2c426.444C1636.425%2c381.124%2c1628.42%2c323.662%2c1600.257%2c279.045C1573.97%2c237.399%2c1526.346%2c214.11%2c1477.181%2c216.962C1432.413%2c219.559%2c1400.45%2c254.059%2c1376.577%2c292.019C1350.425%2c333.602%2c1323.05%2c382.424%2c1345.712%2c426.007C1369.496%2c471.747%2c1425.627%2c485.412%2c1477.181%2c485.497' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1331.193%2c694.741C1377.378%2c692.531%2c1409.86%2c653.827%2c1431.511%2c612.971C1451.53%2c575.195%2c1457.572%2c531.406%2c1437.852%2c493.473C1416.509%2c452.418%2c1377.462%2c420.457%2c1331.193%2c420.001C1284.248%2c419.539%2c1244.456%2c450.765%2c1220.834%2c491.336C1197.042%2c532.198%2c1190.196%2c581.878%2c1212.745%2c623.439C1236.3%2c666.854%2c1281.856%2c697.102%2c1331.193%2c694.741' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M791.708%2c367.686C823.517%2c365.695%2c851.474%2c348.799%2c868.092%2c321.604C885.542%2c293.048%2c892.819%2c257.757%2c876.857%2c228.343C860.243%2c197.726%2c826.498%2c182.588%2c791.708%2c180.844C753.07%2c178.907%2c710.913%2c186.214%2c690.365%2c218.993C668.824%2c253.355%2c673.902%2c298.818%2c696.743%2c332.331C717.132%2c362.246%2c755.577%2c369.948%2c791.708%2c367.686' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1296.448%2c152.393C1329.592%2c152.878%2c1365.865%2c147.562%2c1383.11%2c119.253C1400.868%2c90.103%2c1390.904%2c54.084%2c1374.607%2c24.093C1357.34%2c-7.684%2c1332.609%2c-40.779%2c1296.448%2c-40.236C1260.828%2c-39.701%2c1238.804%2c-5.164%2c1222.254%2c26.382C1207.189%2c55.097%2c1197.62%2c88.834%2c1214.073%2c116.777C1230.341%2c144.406%2c1264.388%2c151.923%2c1296.448%2c152.393' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1147.14 311.51 a173.48 173.48 0 1 0 346.96 0 a173.48 173.48 0 1 0 -346.96 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1094.3252771414877 264.14869497351793L1028.6749134289446 188.62659063603968 953.1528090914663 254.27695434858285 1018.8031728040095 329.79905868606113z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1242.3250481098546 222.15042298163877L1311.6002571579847 91.86270393242071 1181.3125381087668 22.58749488429055 1112.0373290606365 152.87521393350858z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M855.2088545099012 544.9628298993391L969.7922025460841 445.3570450769042 870.1864177236492 330.77369704072134 755.6030696874664 430.37948186315623z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1312.6886664171009 167.33011446589015L1325.7202594845812 274.30666628189346 1401.9342124002383 218.93398826127037z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M141.911%2c602.448C190.251%2c598.85%2c232.042%2c571.846%2c256.703%2c530.114C281.855%2c487.551%2c290.227%2c435.288%2c266.234%2c392.061C241.601%2c347.681%2c192.669%2c323.128%2c141.911%2c323.298C91.457%2c323.467%2c46.729%2c350.724%2c19.025%2c392.891C-12.16%2c440.355%2c-35.587%2c500.741%2c-6.859%2c549.731C21.665%2c598.373%2c85.679%2c606.633%2c141.911%2c602.448' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M209.07 250.14 a124.11 124.11 0 1 0 248.22 0 a124.11 124.11 0 1 0 -248.22 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1776'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1777'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0.22'%3e%3c/stop%3e%3cstop stop-color='rgba(2%2c 38%2c 165%2c 0.94)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-top: 100px;
}

