*{
  margin: 0px;
  padding: 0px;  
}

.menu-container{
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: black;
  padding: 10px;
}

.menu-item{
  display: flex;
}

.menu-item li{
  list-style: none;
  margin: 10px;
  padding: 15;
  font-size: 15px;
}

.menu-item li:hover{
  color: blue;
  cursor: pointer;
}

.banner-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  
}

.banner-description{
  padding-left: 50px;
}

.banner-text{
  color: red;
  font-size: 25px;
  margin: 10px;
}

.title1{
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
}

.text{
  font-size: 20px;
  margin: 10px;
}

.banner-btn{
  padding: 15px 30px;
  background-color: rgba(255, 42, 14, 0.936);
  margin: 10px;
  font-size: 15px;
  color: white;
}

.title2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 80px
}

.section-two{
  margin-top: 80px;
  padding: 50px;
  display: flex;
  justify-content: space-evenly
}
.card1{
  width: 350px;
  height: 250px;
  border: 1px solid gray;
  text-align: center;
  box-shadow: 8px 8px 16px gray;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
  transition: .8ms;
}

.card1:hover{
  border: 1px solid gray;
  margin-top:-20px;
  transition:.8ms; 
}

.gym-icon{
  width: 50px;
}

.about-container{
  display: flex;
  background-color: black;
  color: white;
}

.about-left{
  width: 500px;
  
}

.about-right{
  width: 500px;
  
}
.workout-img{
  display: flex;
  margin-top: 20px;
}

.workout-img img{
  width: 400px;
  height: 450px;
  
}

.img2{
  margin-bottom: 10px;
  margin-right: 40px;
  width: 200px;
  height: 500px;
}

.btn-txt{
  text-decoration: none;
  color: white;
}